*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	position: relative;
	min-height: 100%;
}

h1{
	text-align: center;
	line-height: 100vh;
	margin: 0;
}

p{
	margin-bottom: 0;
	padding-top: 10px;
	text-align: justify;
}

#back-to-top{
	display: none;
	background-color: transparent;
	border: 0;
	padding: 8px 12px;
	float: right;
}

.container-fluid{
	padding: 0;
}

#fixtures,
#home{
	width: 100%;
	min-height: 100vh;
	background-color: #e0e2d5;
}

#contact-form,
#league{
	width: 100%;
	min-height: 100vh;
	background-color: #6db8bb;
	padding-top: 10px;
	padding-bottom: 10px;
}

#contact-form,
#league{
	position: relative;
}

.overlay{
	position: fixed;
	height: 10vh;
	width: 100%;
	background-color: transparent;
	z-index: 1;
	transition: background-color 3s;
}

.overlay.active-overlay{
	/*background-color: rgba(224, 226, 213, 0.75);*/
	background-color: rgba(109, 184, 187, 1);
}

#nav-item-container{
	display: none;
	opacity: 0;
	list-style-type: none;
	transition: all 3s;
	border: 0;
}

#nav-item-container #custom-nav-item{
	width: 100%;
	height: 60px;
	line-height: 60px;
}

#nav-item-container #custom-nav-link{
	text-align: center;
	font-weight: 600;
	display: block;
	color: black;
	border: 0;
	padding: 0;
}

#nav-item-container.active-nav{
	opacity: 1;
}

#nav-item-container #custom-nav-link.active{
	color: #e0e2d5;
	text-decoration: underline;
}

.jumbotron{
	margin: 0;
	border-radius: 0;
	height: 50vh;
	text-align: center; /*remove once image is in place*/
	line-height: 50vh; /*remove once image is in place*/
	padding: 0; /*remove once image is in place*/
}

.row{
	margin: 0;
}

#thumbnail{
	margin-top: 10px;
}

#thumbnail img{
	width: 130px;
	height: 130px;
}

/*******use the below code if the content needs to be centered on the page*******/

/*#thumbnail-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}*/

.form-group{
	padding-top: 10px;
}

/*******use the below code if the content needs to be centered on the page*******/

/*#form-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}*/

#social-media-list img{
	width: 40px;
	height: 40px;
}


// Small devices (landscape phones, 544px and up)
@media (min-width: 544px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }