* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  position: relative;
  min-height: 100%; }

p {
  margin-bottom: 0;
  text-align: justify; }

.myButton,
.back-to-top {
  width: 40px;
  height: 40px; }

.myButton,
.back-to-top {
  background-color: #6db8ff;
  border: 0;
  border-radius: 0;
  padding: 0;
  color: white; }

.back-to-top {
  display: none;
  float: right; }

.overlay {
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  transition: background-color 1s; }

.overlay.active-overlay {
  background-color: #6db8ff; }

.nav-item-container {
  display: none;
  opacity: 0;
  list-style-type: none;
  transition: all 1s;
  border: 0; }
  .nav-item-container .custom-nav-item {
    width: 100%;
    height: 60px;
    line-height: 60px; }
  .nav-item-container .custom-nav-link {
    text-align: center;
    font-weight: 600;
    display: block;
    color: rgba(255, 255, 255, 0.5);
    border: 0;
    padding: 0; }
  .nav-item-container .custom-nav-link.active {
    color: #e0e2d5;
    text-decoration: underline; }

.nav-item-container.active-nav {
  opacity: 1; }

.social-media-list {
  padding-top: 50px; }
  .social-media-list img {
    width: 40px;
    height: 40px; }

.container-fluid {
  padding: 0; }

.jumbotron {
  margin: 0;
  border-radius: 0;
  height: 50vh;
  text-align: center;
  line-height: 50vh;
  padding: 0;
  background: url("../images/image-1.jpg") no-repeat center center;
  background-size: cover; }

.row {
  margin: 0; }

.light-section {
  background-color: white;
  color: rgba(0, 0, 0, 0.5); }

.dark-section {
  background-color: #6db8ff;
  color: rgba(255, 255, 255, 0.5); }

.dark-section,
.light-section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }

.thumbnail {
  margin-top: 10px; }
  .thumbnail:nth-child(1), .thumbnail:nth-child(2) {
    margin-top: 0; }
  .thumbnail img {
    width: 130px;
    height: 130px; }

.modal img {
  width: 100%;
  height: 100%;
  padding: 5px; }

.btn {
  margin-top: 30px;
  width: 100%; }

h5 {
  text-align: left;
  padding-bottom: 10px; }

@media (min-width: 544px) {
  .thumbnail img {
    width: 180px;
    height: 180px; } }
@media (min-width: 992px) {
  .thumbnail a {
    position: relative;
    display: block;
    width: 178px;
    height: 178px;
    margin: 0 auto; }
    .thumbnail a .thumbnail-title {
      position: absolute;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.5);
      color: rgba(0, 0, 0, 0.5);
      left: 0;
      bottom: 0;
      margin: 0;
      width: 100%;
      line-height: 45px;
      display: block;
      opacity: 0;
      transition: opacity 1s; }
    .thumbnail a:hover .thumbnail-title {
      opacity: 1; } }
@media (min-width: 1200px) {
  .thumbnail img {
    width: 230px;
    height: 230px; }
  .thumbnail a {
    width: 228px;
    height: 228px; } }
