
@import "included-file";
$my-color = "color: red"

body {
	background: #fff;
}

.class{
	display: block;

	.nested-class{
		display: none;
	}
}

.matts-class{
	display: block;
	color: red;
	background-color: blue;
	width: 100px;

	.matts-nested-class{
		display: block;
	}

	.another-nested-class{
		color: blue;

		.a-class{
			color: red;
		}
	}
}

