.included-class {
  display: block; }

body {
  background: #fff; }

.class {
  display: block; }
  .class .nested-class {
    display: none; }

.matts-class {
  display: block;
  color: red;
  background-color: blue;
  width: 100px; }
  .matts-class .matts-nested-class {
    display: block; }
  .matts-class .another-nested-class {
    color: blue; }
    .matts-class .another-nested-class .a-class {
      color: red; }
